img{
    /*width: 30%;*/
    width:375px;
    height:300px;
    float:left;
    margin: 1.66%;
    }
*{
    font-family: 'Roboto', sans-serif;
}
h2
{
    padding-bottom:6px;
    border-bottom: 2px solid rgb(178,178,178);
    /*text-decoration:underline;*/
    width:25%;
}